// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "show-booking";

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Cards example of offers on the home

.card-product {
  overflow: hidden;
  height: 120px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.offers {

  a {
    text-decoration: none;
    color: black;
  }

  .col-xs-12 {
    width: 100%;
    margin-right: 60px;
  }

}

.buttons {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 1px;
  padding-left: 1px;
  opacity: 0.6;
  box-shadow: 2px 2px 3px grey;
  border-radius: 30px;
  margin: 10px;
}

.container-buttons {
  text-align: center;
  width: 200px;
  margin: auto;
}

// show scss

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  width: 1000px;
  border-radius: 5px;
}

.card-trip > img {
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 18px;
  width: 100%
}

.card-trip-infos .card-trip-user {
  right: 16px;
  top: -20px;
  width: 40px;
}

.container {
  margin-top: 10px;
}

.infos-text {
  width: 1000px;
}

.card-form {
  width: 360px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
  text-align: center;
  margin-top: 150px;
  position: sticky;
  top: 0px;
  border-radius: 5px;
}

.link {
  color:  #FE5F55;
}

