// Import page-specific CSS files here.
@import "home";

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.offers {

  a {
    text-decoration: none;
    color: black;
  }

}

.buttons {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 1px;
  padding-left: 1px;
  opacity: 0.6;
  box-shadow: 2px 2px 3px grey;
  border-radius: 30px;
  margin: 10px;
}

.container-buttons {
  text-align: center;
  width: 200px;
  margin: auto;
}

// show scss

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
}

.card-trip > img {
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}



.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container {
  margin-top: 10px;
}
