<div class="container text-center full-height form-container-y">
  <div class="row ">
    <div class="col-md-12">
      <div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
        <div class="profile-name"><%=@user.username%></div>
        <div class="profile-username"><%=@user.email%></div>
      </div>
    </div>
  </div>
</div>

