<div class="footer">
  <div class="footer-links">
    <a href="https://procatinator.com/"><i class="fab fa-github"></i></a>
    <a href="http://www.clicktoremove.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://heeeeeeeey.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://corgiorgy.com/"><i class="fab fa-twitter"></i></a>
    <a href="http://papertoilet.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at BoomBoom
  </div>
</div>
