
<h1 class="title ml-4"> Add your offer: </h1>

<div class="container">
<%= render 'form', offer: @offer %>
<div class="link mt-4">
  <%= link_to "Back to offers", offers_path %>
</div>
  <%= link_to "Back to the menu", root_path%>
</div>
