<div class="form-container-y container mt-5">
  <div class="card-form-y">
    <h2 class="title"> Add your offer </h2>
    <%= render 'form', offer: @offer %>
    <div class="mt-4">
      <%= link_to offers_path, class: "navbar-brand" do %>
      <button type="button" class="btn btn-primary">Back to offers</button>
      <% end %>

      <%= link_to root_path, class: "navbar-brand" do %>
      <button type="button" class="btn btn-outline-primary">Back to the menu</button>
      <% end %>
    </div>
  </div>
</div>
