.card-form-y {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  margin: 60px 0;
}

.form-container-y {
  margin-top: 66px !important;
  min-height: calc(100vh - 166px);
}
