.form-container-y {
    padding: 100px 20px;
  }

  .form-inputs-y {
    padding: 0 100px 0 0;
  }

  .card-form-y {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
